.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background: linear-gradient(to bottom, #5f6edc, #6c41c5);
  color: #fff;
  padding: 2rem 1rem;
  overflow-y: auto;
  z-index: 999;
}

.sidebar-menu a {
  font-weight: 600;
  color: white;
  text-decoration: none;
}
